<section class="menu-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="navbar-collapse collapse ">
                    <ul id="menu-top" class="nav navbar-nav navbar-right">
                        <li><a href="#/dashboard">DASHBOARD</a></li>
                        <li><a href="#/exchange" class="menu-top-active">구매신청</a></li>
                        <li><a href="#/notice">공지사항</a></li>
                        <li><a href="#/promotion">프로모션</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">구매신청 관리</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <form name="form" ng-submit="find()">
                        <div class="panel-heading-custom">
                            <div class="form-group">
                                <div class="form-inline">
                                    <select class="form-control" ng-model="query.status">
                                        <option value="REGISTERED">신청</option>
                                        <option value="SUCCEED">지급완료</option>
                                        <option value="CANCEL">반려</option>
                                    </select>
                                    <select class="form-control" ng-model="query.type">
                                        <option value="1">상품명</option>
                                        <option value="2">폰번호</option>
                                        <option value="3">아이디</option>
                                    </select>
                                    <input type="text" class="form-control-custom" ng-model="query.value"
                                           placeholder="검색어를 넣어주세요..."/>
                                    <input type="submit" class="btn btn-primary" value="검 색"/>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <colgroup>
                                    <col>
                                    <col style="width:10%">
                                    <col style="width:20%">
                                    <col style="width:20%">
                                    <col style="width:20%">
                                </colgroup>
                                <thead>
                                <tr>
                                    <!--<th>#</th>-->
                                    <th>Emoticon Name</th>
                                    <th>User ID</th>
                                    <th>Phone Number(receiver)</th>
                                    <th>신청시간</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="exchange in exchanges track by exchange.id">
                                    <td><a ng-href="{{exchange.url}}" ng-bind="::exchange.name" target="_blank"></a></td>
                                    <td><a href="" copy-to-clipboard="{{::exchange.user.name}}"
                                           class="copy">{{exchange.user.name}}</a></td>
                                    <td><a href="" copy-to-clipboard="{{::(exchange.receiver.replace('-','')).replace('-','')}}"
                                                                class="copy">{{exchange.receiver}}</a></td>
                                    <td>{{exchange.registeredAt}}</td>
                                    <td>{{exchange.status}}
                                        <input ng-if="exchange.status == 'SUCCEED'" type="text" readonly value="{{ exchange.sentDate |date:'yyyy-MM-dd HH:mm:ss'}}">
                                        <button ng-if="exchange.status == 'REGISTERED'" class="btn btn-primary btn-xs"
                                                type="button" ng-click="success(exchange.id)" data-toggle="modal">완료
                                        </button>
                                        <button ng-if="exchange.status == 'REGISTERED'" class="btn btn-danger btn-xs"
                                                type="button" ng-click="reject(exchange.id)" data-toggle="modal">반려
                                        </button>
                                    </td>
                                </tr>

                                <tr ng-show="exchanges.length == 0">
                                    <td colspan="4">검색결과가 없습니다.</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <uib-pagination ng-model="pages.page"
                                        total-items="pages.count"
                                        items-per-page="pages.size"
                                        max-size="pages.maxSize"
                                        ng-change="find()">
                        </uib-pagination>
                    </div>
                </div>
                <!-- End  Kitchen Sink -->
            </div>
        </div>
    </div>
</div>
<!-- CONTENT-WRAPPER SECTION END-->