<div ng-controller="exchangeModalController">
    <div class="panel panel-default">
        <div class="panel-heading">
            이모티콘 반려
        </div>
        <form name="form" novalidate>
            <div class="panel-body">
                <div class="form-group">
                    <select class="form-control" ng-model="query.value">
                        <option value="1">이미 보유중임</option>
                        <option value="2">기기에서 지원하지 않음</option>
                        <option value="3">카톡에 등록되지 않은 휴대폰번호</option>
                        <option value="4">카톡 이모티콘의 서비스 오류/정책변경</option>
                        <option value="5">직접 입력</option>
                    </select>
                    <br>
                    <label for="memo" ng-if="query.value == '5'">반려메시지</label>
                    <input type="text" class="form-control" id="memo" ng-model="query.message"
                           ng-if="query.value == '5'"
                           placeholder="반려메시지를 입력해주세요..." ng-required="true"/>
                </div>
                <br>
                <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid"
                        ng-click="reject(exchange.id)">반려처리
                </button>
                <button type="button" class="btn btn-default" ng-click="close()">취소</button>
            </div>
        </form>
    </div>
</div>
