<div ng-controller="exchangeModalController as $ctrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            이모티콘 완료
        </div>
        <div class="panel-body">
            <div class="form-group">
                「{{exchange.name}}」 <br>{{exchange.receiver}}<br> 선물하기 완료처리를 하시겠습니까?
            </div>
            <hr/>
            <button type="submit" class="btn btn-primary" ng-click="complete(exchange.id)">완료처리</button>
            <button type="button" class="btn btn-default" ng-click="close()">취소</button>
        </div>
    </div>
</div>
