<section class="menu-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="navbar-collapse collapse ">
                    <ul id="menu-top" class="nav navbar-nav navbar-right">
                        <li><a href="#/dashboard" >DASHBOARD</a></li>
                        <li><a href="#/exchange" >구매신청</a></li>
                        <li><a href="#/notice" class="menu-top-active" >공지사항</a></li>
                        <li><a href="#/promotion">프로모션</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- MENU SECTION END-->
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">공지사항 관리</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <form name="form" ng-submit="find()">
                        <div class="panel-heading-custom">
                            <div class="form-group">
                                <div class="form-inline">
                                    <input type="text" class="form-control-custom" ng-model="query.title"
                                           placeholder="제목을 넣어주세요..."/>
                                    <input type="submit" class="btn btn-primary" value="검 색"/>
                                    <a href="#/notice/register/add" class="btn btn-danger">등 록</a>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <colgroup>
                                    <col style="width:50%">
                                    <col style="width:50%">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>TITLE</th>
                                    <th>URL</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="notice in notices track by notice.id">
                                    <td><a ng-href="#/notice/{{notice.id}}" ng-bind="::notice.title"></a></td>
                                    <td>{{notice.url}}</td>
                                </tr>
                                <tr ng-show="notices.length == 0">
                                    <td colspan="3">검색결과가 없습니다.</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <uib-pagination ng-model="pages.page"
                                        total-items="pages.count"
                                        items-per-page="pages.size"
                                        max-size="pages.maxSize"
                                        ng-change="find()">
                        </uib-pagination>
                    </div>
                </div>
                <!-- End  Kitchen Sink -->
            </div>
        </div>

    </div>
</div>
<!-- CONTENT-WRAPPER SECTION END-->