<section class="menu-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="navbar-collapse collapse ">
                    <ul id="menu-top" class="nav navbar-nav navbar-right">
                        <li><a href="#/dashboard" >DASHBOARD</a></li>
                        <li><a href="#/exchange" >구매신청</a></li>
                        <li><a href="#/notice" class="menu-top-active" >공지사항</a></li>
                        <li><a href="#/promotion">프로모션</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">공지사항 등록</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        공지사항 기본정보 입력
                    </div>
                    <div class="panel-body">
                        <form ng-submit="register()" name="form">
                            <div class="form-group">
                                <label for="notice.title">TITLE</label>
                                <input type="text" class="form-control" id="notice.title" name="title" ng-model="notice.title"
                                       placeholder="TITLE을 입력해주세요..." ng-required/>
                            </div>
                            <div class="form-group">
                                <label for="notice.url">URL</label>
                                <input type="text" class="form-control" id="notice.url" name="url" ng-model="notice.url"
                                       placeholder="URL을 입력해주세요..." ng-required/>
                            </div>
                            <hr/>
                            <button type="submit" class="btn btn-danger">등 록</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CONTENT-WRAPPER SECTION END-->