.main {padding :20px}

.no-padding{padding:0 !important;text-align:center;}

.login label p{
    display: block;
    float: left;
    width: 70px;
    margin: 0;
    line-height: 30px;
}
.login button{
    width: 173px;
    float: left;
    margin-left: 70px;
    line-height: 24px;
}
.list-table{
    width: 100%;
    margin: 20px;
}
.notice{
    padding: 20px;
    border:1px solid black;
}

.benefit_info > .col-sm-3{
    line-height: 36px;
}

.img-list > ul{
    list-style: none;
    padding: 0;
    display: table;
}
.img-list > ul > li{
    display: inline-block;
}
.modal-body .inner_box{
    display: table;
}
.modal-body .inner_box .add_img,
.modal-body .inner_box .preview{
    float:left;
    position: relative;
    display: inline-block;
    width: 150px;
    height: 250px;
    border : 1px solid #333333;
    margin: 1px;
    background: #eeeeee;
    cursor: pointer;
}
.modal-body .inner_box .preview > img{
    width: 148px;
    height: 248px;
}
.modal-body .inner_box .preview > button{
    position: absolute;
    top: 0;
    background: red;
}

.theme{
   padding: 20px; margin: 20px
}
.theme .input-group{
    margin-top: 10px;
}
.theme .theme-img{
    margin-top: 10px;
}
.theme .collapse{
    padding-bottom: 20px;
    border-bottom: 1px solid #999999;
}