﻿<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <title>ADMIN</title>
    <!-- BOOTSTRAP CORE STYLE  -->
    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <!-- FONT AWESOME ICONS  -->
    <link href="/css/font-awesome.css" rel="stylesheet"/>
    <!-- CUSTOM STYLE  -->
    <link href="/css/style.css" rel="stylesheet"/>
    <!-- HTML5 Shiv and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->
</head>
<body ng-app="admin" ng-cloak>
<header class="panel-body">
    <div class="container" ng-model="login_state">
        <div class="row" ng-switch on="login_state">
            <div class="col-md-12" ng-switch-when="true" >
                <strong data-toggle="modal" data-target="#myModal" >{{getAuthentication().name}} 님</strong>
                &nbsp;&nbsp;환영합니다!
            </div>
            <div class="col-md-12" ng-switch-when="false">
                &nbsp;&nbsp;
            </div>
            <div class="modal fade" id="myModal" tabindex="1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">접속 정보</h4>
                        </div>
                        <div class="modal-body">
                            <dl>
                                <dt>최근 접속시간</dt>
                                <dd>{{getAuthentication().principal.recentAccessAt | date:'yyyy.M.dd hh:mm'}}</dd>
                                <dt>접속 아이피(IP)</dt>
                                <dd>{{getAuthentication().details.remoteAddress}}</dd>
                                <!--<dt>컴퓨터 이름</dt>-->
                                <!--<dd>Soo's Notebook</dd>-->
                            </dl>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="logout()">
                                로그아웃
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- HEADER END-->
<div class="navbar navbar-inverse set-radius-zero">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </div>
</div>
<!-- LOGO HEADER END-->

<div id="page-wrapper" ng-view></div>
<!-- MENU SECTION END-->
<!-- CONTENT-WRAPPER SECTION END-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                &copy; 상호명 : (주)아이티디에이 <p class="copyright">Copyright © 2016 ITDA All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script src="//d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/morris.js"></script>
<script type="text/javascript" src="/js/raphael.js"></script>
<script type="text/javascript" src="/webjars/momentjs/2.13.0/min/moment.min.js"></script>
<script type="text/javascript" src="/webjars/angularjs/1.5.8/angular.min.js"></script>
<script type="text/javascript" src="/webjars/angularjs/1.5.8/angular-route.min.js"></script>
<script type="text/javascript" src="/webjars/ng-file-upload/12.0.4/ng-file-upload.min.js"></script>

<script data-require="ui-bootstrap@0.14.3" data-semver="0.14.3" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.min.js"></script>
<!-- other libs -->
<!--<script src="/libs/editor/js/simditor/simditor-all.js"></script>-->
<script type="text/javascript" src="/js/welcome.js"></script>
<!--<script type="text/javascript" src="/js/uploader.js"></script>-->
<script type="text/javascript" src="/js/auth.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/controller.js"></script>
<script type="text/javascript" src="/js/service.js"></script>
<!--<script type="text/javascript" src="/js/modal.js"></script>-->

</body>
</html>
