<section class="menu-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="navbar-collapse collapse ">
                    <ul id="menu-top" class="nav navbar-nav navbar-right">
                        <li><a href="#/dashboard">DASHBOARD</a></li>
                        <li><a href="#/exchange" >구매신청</a></li>
                        <li><a href="#/notice">공지사항</a></li>
                        <li><a href="#/promotion">프로모션</a></li>
                        <li><a href="#/report" class="menu-top-active">REPORT</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">일간 리포트 관리</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <colgroup>
                                    <col style="width:10%">
                                    <col style="width:10%">
                                    <col style="width:10%">
                                    <col style="width:10%">
                                    <col style="width:10%">
                                    <col style="width:10%">
                                    <col style="width:10%">
                                    <col style="width:10%">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>일자</th>
                                    <th>신규가입</th>
                                    <th>가입해지</th>
                                    <th>TOTAL</th>
                                    <th>보너스-가입</th>
                                    <th>보너스-출석</th>
                                    <th>보너스-추천</th>
                                    <th>보너스-피추천</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="dailyReport in dailyReports track by dailyReport.id">
                                    <td>{{dailyReport.dt}}</td>
                                    <td>{{dailyReport.memberNew | number}}</td>
                                    <td>{{dailyReport.memberLeave | number}}</td>
                                    <td>{{dailyReport.memberTotal | number}}</td>
                                    <td>{{dailyReport.bonusSignup | number}}</td>
                                    <td>{{dailyReport.bonusAttendance | number}}</td>
                                    <td>{{dailyReport.bonusRecommend | number}}</td>
                                    <td>{{dailyReport.bonusBerecommended | number}}</td>
                                </tr>
                            </table>
                        </div>
                        <uib-pagination ng-model="pages.page"
                                        total-items="pages.count"
                                        items-per-page="pages.size"
                                        max-size="pages.maxSize"
                                        ng-change="find()">
                        </uib-pagination>
                    </div>
                </div>
                <!-- End  Kitchen Sink -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="graph-wrap">
                        <style>
                            svg {
                                padding: 10px 0 0 10px;
                            }

                            .arc {
                                stroke: #fff;
                            }
                        </style>
                        <div id="graph-area">


                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <colgroup>
                                    <col style="width:12%">
                                    <col style="width:10%">
                                    <col style="width:12%">
                                    <col style="width:12%">
                                    <col style="width:12%">
                                    <col style="width:12%">
                                    <col style="width:12%">
                                    <col style="width:12%">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>일자</th>
                                    <th>구매요청</th>
                                    <th>구매완료</th>
                                    <th>구매금액</th>
                                    <th>거절건수</th>
                                    <th>AD-igaworks</th>
                                    <th>AD-nasmedia</th>
                                    <th>AD-tnkfactory</th>
                                    <th>AD-UserCount</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="dailyReport in dailyReports track by dailyReport.id">
                                    <td>{{dailyReport.dt}}</td>
                                    <td>{{dailyReport.buyRequest | number}}</td>
                                    <td>{{dailyReport.buyComplete | number}}</td>
                                    <td>{{dailyReport.buyCompletecash | number}}</td>
                                    <td>{{dailyReport.buyDeny | number}}</td>
                                    <td>{{dailyReport.adIgaworks | number}}</td>
                                    <td>{{dailyReport.adNasmedia | number}}</td>
                                    <td>{{dailyReport.adTnkfactory | number }}</td>
                                    <td>{{dailyReport.adUserCount | number }}</td>
                                </tr>
                            </table>
                        </div>
                        <uib-pagination ng-model="pages.page"
                                        total-items="pages.count"
                                        items-per-page="pages.size"
                                        max-size="pages.maxSize"
                                        ng-change="find()">
                        </uib-pagination>
                    </div>
                </div>
                <!-- End  Kitchen Sink -->
            </div>
        </div>
    </div>
</div>
<!-- CONTENT-WRAPPER SECTION END-->