<div class="gray_space">
    <div class="case">
        <img src="/images/sample02.jpg" alt="">
        <h2>요청하신 페이지를 찾을 수 없습니다.</h2>
        <p class="tit">페이지 주소를 잘못 입력하셨거나, 페이지의 주소가 변경 혹은 삭제되어 <br>요청하신 페이지를 찾을 수 없습니다.</p>
        <p class="txt">입력하신 주소가 정확한지 다시 한번 확인해 주시기 바랍니다.<br>관련 문의사항은 <span><a href="mailto:support@itpo.co.kr">support@itpo.co.kr</a></span>
            에 알려주시면 친절하게 안내해 드리겠습니다.<br>감사합니다.</p>
    </div>
</div>