<section class="menu-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="navbar-collapse collapse ">
                    <ul id="menu-top" class="nav navbar-nav navbar-right">
                        <li><a href="#/dashboard" class="menu-top-active">DASHBOARD</a></li>
                        <li><a href="#/exchange">구매신청</a></li>
                        <li><a href="#/notice">공지사항</a></li>
                        <li><a href="#/promotion">프로모션</a></li>
                        <li><a href="#/releases">앱 배포관리</a></li>
                        <li><a href="#/report" >REPORT</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- MENU SECTION END-->
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="page-head-line">Dashboard</h4>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="dashboard-div-wrapper bk-clr-one">
                            <i class="fa fa-venus dashboard-div-icon"></i>
                            <h5>총 유저수 : {{dashboard.activeUserCount}} &nbsp;&nbsp;&nbsp;&nbsp;총 해지유저수 : {{dashboard.expireUserCount}}</h5>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="dashboard-div-wrapper bk-clr-two">
                            <i class="fa fa-edit dashboard-div-icon"></i>
                            <h5>총 이모티콘 요청수 : {{dashboard.exchangeCount}}</h5>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="dashboard-div-wrapper bk-clr-three">
                            <i class="fa fa-cogs dashboard-div-icon"></i>
                            <h5>총 이모티콘 지급완료수 : {{dashboard.successCount}}</h5>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="dashboard-div-wrapper bk-clr-three">
                            <i class="fa fa-cogs dashboard-div-icon"></i>
                            <h5>총 이모티콘 지급반려수 : {{dashboard.rejectCount}}</h5>
                        </div>
                    </div>
                    <!--<div class="col-md-3 col-sm-3 col-xs-6">-->
                        <!--<div class="dashboard-div-wrapper bk-clr-four">-->
                            <!--<i class="fa fa-bell-o dashboard-div-icon"></i>-->
                            <!--<h5>총 광고다운수 : {{dashboard.reserveCount}}</h5>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>


    </div>
</div>
</div>