<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="page-head-line">Please Login To Enter </h4>

            </div>

        </div>
        <div class="row" >
            <div class="col-md-6">
                <form name="form" ng-submit="login()">
                    <label for="username">Enter ID : </label>
                    <input type="text" id="username" name="username" ng-model="credentials.username" class="form-control"/>
                    <label for="password">Enter Password : </label>
                    <input type="password" id="password" name="password" ng-model="credentials.password" class="form-control"/>
                    <input type="checkbox" id="remember" name="remember" ng-model="remember"/>
                    <label for="remember" style="margin-left:10px">Remember</label>
                    <hr/>
                    <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-user"></span> &nbsp;로그인</button>
                    <div ng-show="error" class="form-group has-error">
                        <hr />
                        <p class="control-label">{{error}}</p>
                    </div>
                </form>
                <div ng-show="lock" class="form-group has-error">
                    <p class="control-label">비밀번호를 5회 잘못 입력하셨습니다.</p>
                    <span class="control-label">정보 보호를 위해 계정이 잠금 상태로 변경되었습니다.<br/>비밀번호 변경 후 로그인해 주시기 바랍니다.</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="alert alert-info">
                    공지사항 들어갈자리
                    <br/>
                    <strong> 고정 공지사항 자리</strong>
                    <ul>
                        <li>
                            공지사항 1
                        </li>
                        <li>
                            공지사항 2
                        </li>
                        <li>
                            공지사항 3
                        </li>
                        <li>
                            공지사항 4
                        </li>
                    </ul>

                </div>

            </div>

        </div>
    </div>
</div>