<section class="menu-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="navbar-collapse collapse ">
                    <ul id="menu-top" class="nav navbar-nav navbar-right">
                        <li><a href="#/dashboard" >DASHBOARD</a></li>
                        <li><a href="#/exchange" >구매신청</a></li>
                        <li><a href="#/notice" >공지사항</a></li>
                        <li><a href="#/promotion" class="menu-top-active">프로모션</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">프로모션 수정</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        프로모션 기본정보 수정
                    </div>
                    <div class="panel-body">
                        <form ng-submit="update()" name="form">
                            <div class="form-group">
                                <label for="promotion.since">SINCE</label>
                                <input type="text" class="form-control" id="promotion.since" ng-model="promotion.since"
                                       placeholder="날짜를 입력해주세요." ng-required/>
                            </div>
                            <div class="form-group">
                                <label for="promotion.until">UNTIL</label>
                                <input type="text" class="form-control" id="promotion.until" ng-model="promotion.until" ng-filter="date:'yyyy-MM-dd HH:mm:ss'"
                                       placeholder="날짜를 입력해주세요." ng-required/>
                            </div>
                            <div class="form-group">
                                <label for="promotion.amount">AMOUNT(추천인 이벤트의 경우 : 피추천인)</label>
                                <input type="text" class="form-control" id="promotion.amount" ng-model="promotion.amount"
                                       placeholder="금액을 입력해주세요..." ng-required/>
                            </div>
                            <div class="form-group">
                                <label for="promotion.amount">AMOUNT2(추천인의 경우에만 입력 : 추천인)</label>
                                <input type="text" class="form-control" id="promotion.amount2" ng-model="promotion.amount2"
                                       placeholder="금액을 입력해주세요..." ng-required/>
                            </div>

                            <hr/>
                            <a href="#/promotion" class="btn btn-default">목록으로</a>
                            <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">수 정</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CONTENT-WRAPPER SECTION END-->