<section class="menu-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="navbar-collapse collapse ">
                    <ul id="menu-top" class="nav navbar-nav navbar-right">
                        <li><a href="#/dashboard" >DASHBOARD</a></li>
                        <li><a href="#/exchange" >구매신청</a></li>
                        <li><a href="#/notice" >공지사항</a></li>
                        <li><a href="#/promotion" class="menu-top-active">프로모션</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- MENU SECTION END-->
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">프로모션 관리</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <colgroup>
                                    <col style="width:20%">
                                    <col style="width:15%">
                                    <col style="width:15%">
                                    <col style="width:25%">
                                    <col style="width:25%">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>TYPE</th>
                                    <th>SINCE</th>
                                    <th>UNTIL</th>
                                    <th>Amount</th>
                                    <th>Amount</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="promotion in promotions track by promotion.id">
                                    <td><a ng-href="#/promotion/{{promotion.id}}" ng-bind="::promotion.type"></a></td>
                                    <td>{{promotion.since | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                    <td>{{promotion.until | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                    <td>{{promotion.amount | number }}
                                        <button ng-if="promotion.type == 'REFERRER'" class="btn btn-primary btn-xs">추천: 다른 사람을 추천함</button>
                                    </td>
                                    <td>{{promotion.amount2 | number }}
                                        <button ng-if="promotion.type == 'REFERRER'" class="btn btn-danger btn-xs">피추천: 다른 사람으로부터 추천받음</button>
                                    </td>
                                </tr>
                                <tr ng-show="notices.length == 0">
                                    <td colspan="3">검색결과가 없습니다.</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <uib-pagination ng-model="pages.page"
                                        total-items="pages.count"
                                        items-per-page="pages.size"
                                        max-size="pages.maxSize"
                                        ng-change="find()">
                        </uib-pagination>
                    </div>
                </div>
                <!-- End  Kitchen Sink -->
            </div>
        </div>

    </div>
</div>
<!-- CONTENT-WRAPPER SECTION END-->